/********************* TAG Selectors ***********************/

h1 {
  color: red;
  font-size: 50px;
}

img:hover {
  background-color: gold;
}

/********************* CLASS Selectors ********************/

.bacon {
  background-color: green;
}

.broccoli {
  background-color: red;
}

.circular {
  border-radius: 25%;
}


/********************* ID Selectors ************************/

#heading {
  color: blue;
}
